:root {
    /* Light mode colors */
    --background-color: #ffffff;
    --text-color: #000000;
    --primary-color: #d11a2a;
    --link-background: #f3f4f6;
    --link-text: #000;
    --header-background: #ffffff;
}

[data-theme="night"] {
    /* Dark mode colors */
    --background-color: #121212;
    --text-color: white;
    --primary-color: #ff6347;
    --link-background: black;
    --link-text: #ffffff;
    --header-background: #121212;
}

[data-theme="night"] main h3 {
    color: white;
}

[data-theme="night"] .work-sections p {
    color: white;
}

[data-theme="night"] .work-sections h3 {
    color: white;
}

[data-theme="night"] .work-position {
    color: #a7a7a7;
}

[data-theme="night"] .custom-underline {
    color: white;
    text-decoration-color: #a7a7a7;
}

[data-theme="night"] .project h3 {
    color: white;
}

[data-theme="night"] .project p {
    color: #a7a7a7;
}

[data-theme="night"] .resume-button {
    background-color: #3b3b3b;
    border: 1px solid #525252;
    color: white;
}

[data-theme="night"] .resume-button .button-icon {
    filter: invert(100%);
}

[data-theme="night"] .styled-link {
    background-color: #3b3b3b;
    border: 1px solid #525252;
    color: white;
}

[data-theme="night"] .styled-link .icon img {
    filter: invert(100%);
}

[data-theme="night"] .project-buttons .btn {
    background-color: #3b3b3b;
    border: 1px solid #525252;
    color: white;
}

[data-theme="night"] .section-divider {
    border: none; /* Remove the default border */
    border-top: 1px solid #555; /* Light gray line */
    margin: 20px 0; /* Add some space above and below the line */
    width: 100%; /* Make the line full width */
}

[data-theme="night"] .section-divider-nav {
    border: none; /* Remove the default border */
    border-top: 1px solid #555; /* Light gray line */
    margin: 0 0; /* Add some space above and below the line */
    width: 100%; /* Make the line full width */
}

/* [data-theme="night"] .project-image {
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.219);
} */

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    background-color: var(--header-background);
    color: var(--text-color);
    padding-top: 35px;
    padding-bottom: 30px;
    text-align: left;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    padding-left: 15px;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
    font-weight: 10;
    margin: 0 5px;
}

header nav ul li a {

    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    color: var(--text-color);
}

#theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px; /* Adjust the size of the icon */
    color: var(--text-color); /* Match the text color */
    padding-right: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    float:right;
}

#theme-toggle img {
    width: 20px; /* Adjust the size of the icon */
    height: 20px;
    transition: filter 0.3s ease; /* Smooth transition for color inversion */
}

:root[data-theme='night'] #theme-icon {
    filter: invert(100%);
}

:root[data-theme='day'] #theme-icon {
    filter: invert(0%);
}

main {
    padding-left: 20px; /* Make padding consistent */
    padding-right: 20px; /* Ensure consistent padding on both sides */
}

main h1 {
    font-weight: 550;
    font-size: 25px;
    padding-bottom: 20px;
    padding-top: 20px;
}

main p {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.0;
    line-height: 2; /* Increase line spacing for paragraphs */
}

main h3 {
    padding-top: 20px;
}


form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input, form textarea {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    margin-top: 10px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}


@media (min-width: 1200px) {
    main {
        max-width: 700px; /* Limit the width for large screens */
        margin: 0 auto; /* Center the content */
        padding-left: 20px; /* Maintain some padding on the left */
        padding-right: 20px;
    }

    header {
        max-width: 600px;
        margin: 0 auto;
        padding-right: 140px;
    }
    
    main p {
        line-height: 2; /* Increase line spacing for paragraphs */
    }
}

.styled-link {
    display: inline-flex;
    align-items: center;
    padding: 0px 4px;
    background-color: #f3f4f6; /* Light gray background */
    border-radius: 5px; /* Rounded corners */
    text-decoration: none; /* Remove underline from the link */
    color: #000; /* Text color */
    font-weight:450; /* Bold text */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
    /* vertical-align: middle; Aligns the entire box with the middle of the text line */
    border: 1px solid #ccc; /* Darker border color */
    /* margin-top: 2px; */
    font-size: 13px;
}

.styled-link .icon img {
    width: 18px; /* Adjust this value to change the size */
    height: 18px; /* Ensure the aspect ratio is maintained */
    object-fit: contain; /* Ensure the image fits within the specified dimensions */
    transition: filter 0.3s ease; /* Smooth transition for filter */
    padding-left: 0px;
    padding-right: 2px;
    vertical-align:sub;
}

/* .styled-link:hover {
    background-color: #3a3a3a;  Invert to black background 
    color: #f3f4f6;  Invert to light gray text 
} */

/* .styled-link:hover .icon img {
    filter: invert(100%);  Invert the colors of the image 
} */

.image-grid {
    padding-bottom: 20px;
    padding-top: 15px;
}

.image-grid img {
    width: 230px;
    max-width: 400px;
    height: auto;
    border-radius: 8px; /* Optional: Rounded corners */
    object-fit: cover; /* Ensures the images cover the entire grid cell */
    display: block; /* Ensure the image is treated as a block-level element */
    margin: 0 auto; /* Center the image horizontally */
}

.image-grid-graduation {
    padding-top: 15px;
    padding-bottom: 5px;
}

.image-grid-graduation img {
    width: 380px;
    max-width: 400px;
    height: 250px;
    border-radius: 8px; /* Optional: Rounded corners */
    object-fit: cover; /* Ensures the images cover the entire grid cell */
    display: block; /* Ensure the image is treated as a block-level element */
    margin: 0 auto; /* Center the image horizontally */
}


.custom-underline {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #575656;
    color: black;
    text-underline-offset: 3px; /* Adjust the value to control the underline position */
}

.section-divider {
    border: none; /* Remove the default border */
    border-top: 1px solid #e0e0e0; /* Light gray line */
    margin: 20px 0; /* Add some space above and below the line */
    width: 100%; /* Make the line full width */
}

.section-divider-nav {
    border: none; /* Remove the default border */
    border-top: 1px solid #e0e0e0; /* Light gray line */
    margin: 0 0; /* Add some space above and below the line */
    width: 100%; /* Make the line full width */
}

.work-sections {
    line-height: 1.6;
    margin-bottom: 20px;
}

.work-sections p {
    margin-bottom: 16px;
    font-size: 14.5px;
    color: black;
}

.work-sections ul {
    list-style-type: disc;
    margin-left: 20px;
}

.work-sections ul li {
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 350;
}

h3 {
    font-size: 20px;
    margin-bottom: 2px;
    color: #000;
    font-weight: 550;
}

.work-position {
    font-size: 13px;
    color: #5f5f5f;
    margin-bottom: 16px;
    font-style: italic;
}

.work-header {
    position: relative;
    margin-bottom: 20px;
}

.work-header h2 {
    display: inline-block;
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.resume-button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: inline-flex;
    align-items: center;
    padding: 6px 8px;
    font-size: 13px;
    color: #000; /* Initial text color */
    background-color: #fafafa; /* Initial background color */
    border: 1px solid #e5e5e5; /* Darker border */
    border-radius: 4px; /* Rounded corners */
    text-decoration: none;
    cursor: pointer;
    font-weight: 450;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; /* Smooth transition */
}

.resume-button .button-icon {
    width: 16px; /* Icon size */
    height: 16px;
    margin-right: 8px; /* Space between icon and text */
    transition: filter 0.3s ease; /* Smooth transition for icon color inversion */
}

/* .resume-button:hover {
    background-color: #3a3a3a; Invert to black background
    color: #f3f4f6;  Invert text color to light gray 
    border-color: #666; Darker border on hover 
} */

/* .resume-button:hover .button-icon {
    filter: invert(100%); Invert the color of the icon
} */

/* General Section Styling */
#projects {
    padding: 2rem;
    background-color: #ffffff; /* Adjust to match your site's background */
    text-align: center;
}

#projects h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

/* General Section Styling */
#projects {
    padding: 2rem;
    text-align: center;
}

#projects h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

/* Projects Container */
.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    justify-items: center;
}

@media (max-width: 768px) {
    .projects-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .projects-container {
        grid-template-columns: 1fr;
    }
}

/* Project Links */
.project-links {
    display: flex;
    gap: 0.75rem; /* Adds space between the buttons */
    justify-content: center; /* Centers the buttons */
    margin-top: 1rem; /* Adjust as needed for spacing */
}

.project-links .btn {
    padding: 0.6rem 1rem; /* Smaller padding for smaller buttons */
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.85rem; /* Slightly smaller font size */
    transition: background-color 0.3s ease;
}

.project-links .live-demo {
    background-color: #5a67d8;
    color: #fff;
}

.project-links .view-source {
    background-color: #edf2f7;
    color: #5a67d8;
}

.project-links .btn:hover {
    opacity: 0.8; /* Add a hover effect */
}

.scroll-container {
    display: flex;
    overflow-x: auto;
    padding: 10px 0;
    white-space: nowrap;
    scroll-behavior: smooth; /* Smooth scrolling effect */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.scroll-container::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.scroll-container::-webkit-scrollbar-thumb {
    background-color: #ccc; /* Scrollbar thumb color */
    border-radius: 4px;
}

.scroll-container.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
    user-select: none; /* Prevent text selection during drag */
}

.scroll-container img {
    pointer-events: none; /* Prevent image dragging */
}

.logo-item {
    flex: 0 0 auto;
    margin-right: 16px; /* Space between logos */
    padding: 0; /* Remove inner padding to avoid gaps */
    background-color: #f3f4f6;
    border-radius: 8px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px; /* Fixed width for each box */
    height: 130px; /* Fixed height for each box */
    overflow: hidden; /* Ensure no overflow */
}

.logo-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Make the image cover the entire box */
    border-radius: inherit; /* Ensure rounded corners match the container */
    display: block;
}

.projects-container {
    display: grid;
    grid-template-columns: 1fr; /* Start with one column on small screens */
    gap: 20px; /* Space between project items */
    padding: 20px;
}
  
.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin-bottom: 15px;
}
  
.project-image {
    background-color: #fff;
    border-radius: 10px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    overflow: hidden;
    width: 80%;
    height: 230px;
    padding: 0; /* Ensure no padding */
    margin: 0; /* Ensure no margin */
    object-fit: cover;
    border: 1px solid #ccc;
}
  
.project-image img {
    width: 100%;
    height: 100%; /* Ensure it covers the entire container */
    display: block;
    object-fit: cover;
    margin: 0; /* Ensure no margin on the image */
}
  
.project-details {
    margin-top: -10px; /* Overlap effect */
    background-color: transparent;
    padding: 10px;
    margin-bottom: -30px;
}
  
.project h3 {
    font-size: 20px;
    margin: 10px 0;
    padding-left: 30px;
    color: black;
}
  
.project p {
    font-size: 14px;
    color: #666;
    padding-left: 30px;
}

.project-buttons {
    padding-left: 30px;
    margin-top: 10px;
}

.project-buttons .btn {
    display: inline-block;
    background-color: #f3f4f6; /* Button background color */
    color: #000;
    border: 1px solid #999;
    padding: 6px 8px;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    font-weight: bold;
    font-size: 14px;
}
  
@media screen and (min-width: 600) and (max-width: 768px) {
    .projects-container {
        grid-template-columns: repeat(2, 1fr); /* Two columns on medium screens */
    }
    .section-divider {
        display: none; /* Hide the divider on larger screens */
    }
    
}

@media screen and (min-width: 769px) {
    .projects-container {
        grid-template-columns: repeat(2, 1fr); /* Three columns on larger screens */
    }
    .section-divider {
        display: none; /* Hide the divider on medium screens */
    }
    .project-buttons {
        padding-left: 30px;
        margin-top: 10px;
    }
    #theme-toggle {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 20px; /* Adjust the size of the icon */
        color: var(--text-color); /* Match the text color */
        padding-right: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        float:right;
        margin-right: -25%;
    }

    .project-details {
        margin-top: -10px; /* Overlap effect */
        background-color: transparent;
        padding: 10px;
        margin-bottom: -5px;

    }
    
}
